<div class="app-container">
  <div *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
  </div>
  
  <div *ngIf="isLoggedIn" class="logged-in-layout">
    <app-navbar></app-navbar>
    
    <div class="main-content">
      <app-sidebar 
        (sidebarToggled)="onSidebarToggled($event)">
      </app-sidebar>
      
      <div class="content-area" [class.content-collapsed]="sidebarCollapsed">
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>